<div id="about-me" class="col-md-offset-3 col-md-6">
  <!-- <h4>about me</h4> -->
  <p>{{ site.description }}</p>
  <div class="social-icon-list">
    <a title="RSS" href="{{ site.url }}/feed.xml"><img src="/images/icon_rss.png"/></a>
    <a title="iTunes" href="https://itunes.apple.com/jp/podcast/pinmonorajio/id1084747115"><img src="/images/icon_itunes.png"/></a>
    <a title="Android" href="http://subscribeonandroid.com/shinamonoradio.github.io/feed.xml"><img src="/images/icon_android.png"/></a>
    <a title="YouTube" href="https://www.youtube.com/channel/UCufn6rEDrfVQictvojfQFng"><img src="/images/icon_youtube.png"/></a>
    <a title="Spotify" href="https://open.spotify.com/show/3dMzEGiKonjJq2T1JvaDEU"><img src="/images/icon_spotify.png"/></a>
    <a title="Twitter" href="https://twitter.com/shinamonolab"><img src="/images/icon_twitter.png"/></a>
    <a title="Facebook" href="https://www.facebook.com/shinamonolab/"><img src="/images/icon_facebook.png"/></a>
    <a title="Facebook Group" href="https://www.facebook.com/groups/shinamonolab/"><img src="/images/icon_facebook_group.png"/></a>
    <a title="ShinamonoLab" href="http://shinamonolab.strikingly.com/"><img src="/images/icon_shinamonolab_bk.png"/></a>
  </div>
</div>
